@font-face {
    font-family: 'Poppins';
    src: url('./font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --white-color: 0, 0%, 100%;
    --dark-color: 0, 0%, 20%;
    --yellow-color: 42, 87%, 55%;
    --blue-color: 201, 79%, 46%;

    --main-padding: 20px;
    --small-padding: 10px;

    --page-font: 'Poppins', Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

html {
    font-size: 18px;
}

body,
a {
    font-family: var(--page-font);
    color: hsl(var(--white-color));
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav-menu > ul:nth-of-type(1) {
    line-height: 2;
    padding: var(--main-padding) 0;
}

.nav-menu > ul:nth-of-type(2) {
    line-height: 2.5;
}

ul li:hover {
    text-decoration: underline 1.5px;
    cursor: pointer;
}

h1,
ul li a,
.projects > a > div,
.search-menu,
.search-menu > div {
    display: flex;
    align-items: center;
}

.search-menu,
.full-container,
.projects,
.profile-menu {
    display: grid;
}

h1 > img,
svg {
    margin-right: var(--small-padding);
}

.full-container {
    min-height: 100vh;
    grid-template-rows: 1fr repeat(2, 3fr);
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "nav header"
    "nav body"
    "nav body";
}

.admin-nav {
    grid-area: nav;
    padding: var(--main-padding);
    background-color: hsl(var(--blue-color));
}

.nav-menu {
    padding: var(--main-padding);
}

.full-header {
    grid-area: header;
    padding: var(--main-padding);
    color: hsl(var(--dark-color));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.full-body {
    background-color: hsl(var(--blue-color), .1);
    grid-area: body;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.projects {
    min-height: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: var(--main-padding);
    gap: 20px;
    align-content: center;
}

.projects > a > div {
    min-height: 100%;
    border-radius: 10px;
    transition: 0.5s;
    padding: var(--main-padding);
    background-color: hsl(var(--white-color));
    color: hsl(var(--dark-color));
    border-left: 8px solid hsl(var(--yellow-color));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.projects > a > div:hover {
    transition: 0.5s;
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.60) 0px 5px 8px;
    cursor: pointer;
    border-bottom: 8px solid hsl(var(--yellow-color));
}

.projects > a > div:hover .svg-icon {
    fill: hsl(var(--blue-color));
    transform: scale(1.2);
    transition: 0.5s;
}

input {
    background-color: hsl(var(--blue-color), .2);
    font-size: 1rem;
    padding: 5px 30px;
    width: 30rem;
    border: 0;
    border-radius: 50px;
}

.profile-menu p:nth-of-type(1) {
    font-size: 0.8rem;
}

.profile-menu p:nth-of-type(2) {
    font-size: 1.2rem;
    font-weight: 900;
}

.svg-icon {
    width: 25px;
    height: 25px;
    fill: currentColor;
}

.trending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.trending > div {
    border-radius: 10px;
    background-color: hsl(var(--white-color));
    color: hsl(var(--dark-color));
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.search-menu {
    grid-template-columns: 10fr 1fr;
}

.profile-menu {
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    gap: 20px;
}

button {
    padding: var(--small-padding);
    border-radius: 20px;
    width: 8rem;
    border: 0;
    background-color: hsl(var(--blue-color));
    color: hsl(var(--white-color));
    font-size: 1rem;
    font-weight: 500;
}

.profile-menu div:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--main-padding)
}

.trending-box {
    padding: var(--main-padding);
    font-size: 0.9rem;
    display: grid;
    align-items: center;
}

.profile-menu > img {
    width: 70px;
}

.search-menu > div > img,
.trending-box > div > img {
    width: 40px;
}

.search-menu > div:nth-of-type(2) {
    gap: 20px;
}

.trending > div:nth-of-type(2) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2 1fr);
}
  
  