@font-face {
    font-family: 'Poppins';
    src: url('./font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --white-color: 0, 0%, 100%;
    --dark-color: 0, 0%, 20%;
    --yellow-color: 42, 87%, 55%;
    --blue-color: 201, 79%, 46%;

    --main-padding: 20px;
    --small-padding: 10px;

    --page-font: 'Poppins', Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body,
a {
    font-family: var(--page-font);
    color: hsl(var(--white-color));
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav-menu > ul:nth-of-type(1) {
    line-height: 2;
    padding: var(--main-padding) 0;
}

.nav-menu > ul:nth-of-type(2) {
    line-height: 2.5;
}

ul li:hover {
    text-decoration: underline 1.5px;
    cursor: pointer;
}

h1,
ul li a,
.projects > div,
.projects > a > div {
    display: flex;
    align-items: center;
}

h1 > img,
svg {
    margin-right: var(--small-padding);
}

.full-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr repeat(2, 3fr);
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "nav header"
    "nav body"
    "nav body";
}

.admin-nav {
    grid-area: nav;
    padding: var(--main-padding);
    background-color: hsl(var(--blue-color));
}

.nav-menu {
    padding: var(--main-padding);
}

.full-header {
    grid-area: header;
    padding: var(--main-padding);
    color: hsl(var(--dark-color));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.full-body {
    background-color: hsl(var(--blue-color), .1);
    grid-area: body;
}

.projects {
    display: grid;
    min-height: 100%;
    grid-template-rows: repeat(3, 220px);
    grid-template-columns: repeat(2, 350px);
    padding: var(--main-padding);
    gap: 20px;
    align-content: center;
}

.projects > a > div {
    min-height: 100%;
    border-radius: 10px;
    transition: 0.5s;
    padding: var(--main-padding);
    background-color: hsl(var(--white-color));
    color: hsl(var(--dark-color));
    border-left: 8px solid hsl(var(--yellow-color));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.projects > a > div:hover {
    background-color: hsl(var(--blue-color), .05);
    transition: 0.5s;
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.60) 0px 5px 8px;
    cursor: pointer;
    border-bottom: 8px solid hsl(var(--yellow-color));
}

.svg-icon {
    width: 25px;
    height: 25px;
    fill: currentColor;
}